name: Java CI

on:
   - push

jobs:
   build:
      name: Java ${{ matrix.java }} on ${{ matrix.os }}
      runs-on: ${{ matrix.os }}-latest
      strategy:
         matrix:
            java:
               - 17
               - 21
               - 25
            os:
               - ubuntu
               - windows
      steps:
         -  name: Checkout
            uses: actions/checkout@v6
            with:
               fetch-depth: 0
         -  name: Set up JDK ${{ matrix.java }}
            uses: actions/setup-java@v5
            with:
               distribution: zulu
               java-version: ${{ matrix.java }}
               java-package: jdk
         -  name: Cache Gradle packages
            uses: actions/cache@v5
            with:
               path: ~/.gradle/caches
               key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle') }}
               restore-keys: ${{ runner.os }}-gradle
         -  name: Build with Gradle
            run: ./gradlew build
         -  name: Deploy to Maven Central
            if: matrix.os == 'ubuntu' && matrix.java == 21 && startsWith(github.ref, 'refs/tags/v')
            run: |
               echo '${{ secrets.SIGNING_KEY }}' | base64 -d > /tmp/signing_key.gpg
               ./gradlew \
                 '-PsonatypeUsername=${{ secrets.NEXUS_USERNAME }}' \
                 '-PsonatypePassword=${{ secrets.NEXUS_PASSWORD }}' \
                 '-Psigning.keyId=${{ secrets.SIGNING_KEY_ID }}' \
                 '-Psigning.password=${{ secrets.SIGNING_PASSWORD }}' \
                 '-Psigning.secretKeyRingFile=/tmp/signing_key.gpg' \
                 publishToSonatype closeAndReleaseSonatypeStagingRepository
         -  name: Stop Gradle Daemon
            run: ./gradlew --stop
